.transactions {
  position: fixed;
  right: 0;
  margin-right: 2vw;
  border-radius: 8px;
  border: 1px solid #C07F80;
  /* box-sizing: border-box; */
  padding: 0.6em 1.2em;
  font-size:smaller;
  /* font-size: large; */
  /* font-weight: bold; */
  max-height: 80vh;
  overflow-y: auto;
}